
#wrapper{
  color:white;
  margin-top:15%;
  margin-bottom:5%;
  text-align: center;
}

ion-card-header{
  background-color:#fff200;
}
ion-card-subtitle{
  color: #000;
}
ion-card > img{
  /*height: 22vh !important;*/
  height:25vh !important;
  width: 100% !important;
  
  align-items: center;
}


#gridContainer{
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 1%;
  justify-content: center;
}



ion-footer{
  margin-top: 30px;
}


@media(max-width:400px){
  #wrapper{
    
    margin-top: 35%;
  }
  #gridContainer{
    grid-template-columns: 50% 50%;
  }
  
}


/*
@media(max-width:800px){
  #wrapper{
    margin-top:30%;
  }
}
*/

@media screen and(max-width:1000px){
  ion-card > img{
    height:15vh !important;
  }
}




